.container {
  margin-top: 20px;
  border: 1px solid black;
}

.videoContainer {
  width: 100%;
  position: relative;
}

.videoContainer video {
  width: 100%;
}

.videoControls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent 90%);
  padding: 10px 20px;
}

.controlsButton {
  width: 25px;
  height: 25px;
  fill: white; /* For SVG icons */
  cursor: pointer;
  margin: 0 5px;
}

.spacer {
  flex: 1;
}

.fullscreenEnabled {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seekbar {
  background-color: #E6000E;
  border-radius: 3px;
  height: 5px;
  position: relative;
  cursor: pointer;
  flex: 1;
  margin: 0 10px;
}

.seekbarButton {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: white;
  border-radius: 100%;
  top: 50%;
  margin-top: -5px;
  margin-left: -5px;
  cursor: pointer;
}

.settingsContainer {
  position: relative;
}

.settingsPopup {
  position: absolute;
  bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  color: white;
  padding: 10px 0;
  width: 120px;
  right: 0;
}

.level {
  padding: 0 5px;
  cursor: pointer;
  transition: 0.3s background-color ease;
}

.level:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.volumeContainer {
  position: relative;
}

.volumePopup {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 3px 0;
}

.volumeSlider {
  margin: auto;
}
